.AdOne__main{
    height: 380px;
    width: 355px;
    background: white;
    margin: 10px;
}

.AdOne__header {
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}

.AdOne__body {
    padding-left: 15px;
}

.AdOne__footer {
    padding: 15px;
}